services:
  app:
    image: itzg/minecraft-server
    ports:
      - "25565:25565"
      - "19132:19132/udp" 
    environment:
      EULA: "TRUE"
      TYPE: "PAPER"
      VERSION: "LATEST"
      MEMORY: "8G"
      OPS: "momoka_sada"
    volumes:
      - minecraft_data:/data
    restart: unless-stopped
      
  db:
    image: mysql:8.0
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - "3306:3306"

volumes:
  minecraft_data:
    driver: local
  mysql_data:
    driver: local
